.main-menu {
  display: flex;
  gap: 32px;
  padding: 32px;
  a {
    padding: 16px;
    color: #fff;
    border: 1px solid transparent;
    transition: all 0.4s;
    &:hover {
      border-color: white;
    }
  }
}
