.my-header {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 20px;
  background-color: transparent;
  z-index: 100;
  &.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
  }
}
